/german_words/__pycache__
/german_words/words/german_words_sorted_sorted.txt
/german_words/words/german_words_sorted.txt
/german_words/words/wordlist-german.txt
/german_words/words/german_words_sorted_joined.txt
/sentences_mixed.txt
/sentences_normal.txt
/sentences_solved.txt